@model IEnumerable<Hambakliinki.Models.teenuseid>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>
@if (this.User.IsInRole("Admin"))
{
   <p>
    <a asp-action="Create">Create New</a>
    </p> 
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.teenuse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.hind)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.teenuse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.hind)
            </td>
          @if (this.User.IsInRole("Admin"))
            {
            <td>
                <a asp-action="Edit" asp-route-id="@item.teenuseidId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.teenuseidId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.teenuseidId">Delete</a>
            </td>
            }

        </tr>
}
    </tbody>
</table>
